.btn-table-filter{
    padding: 0 1px;
    margin: 2px;
    color : gainsboro;
}
.textFilterClear{
    background-color: white;
    color : #c9302c;
    padding: 4px;
    font-size: 10px;
}
.textFilterOk{
    background-color: white;
    color : seagreen;
    padding: 4px;
    font-size: 10px;
    border-left: 0;
}
.btn-table-filter-applied {
    color : black;
}
.table {
    min-width: 100%;
}

.filterRow{
    display: table-row;
    padding: 1px;
}
.filterContainer{
    padding: 0 5px;
    margin: 3px;
    display: table
}
.innerFilterRow{
    display: inline-table;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid gainsboro;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 50px auto;
    animation: spin 2s linear infinite;
}
.loaderContainer{
    width: 100%;
    min-height: 80vh;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
table.fixedHead tbody {
    border: solid 1px gainsboro;
    left: 15px; max-height : calc(80vh);
    overflow-y: scroll; position: absolute;
    border-top: 40px solid transparent;
    width: 97%;
}
table.fixedHead thead {
    position: fixed ; width: 97%;
    background-color: white;
    z-index: 2;
    border: solid 1px gainsboro;
    border-bottom: none;
}
